 html{
     width: 100%;
     height: 100%;
 }

.table1{
    position: absolute;
    top:15%;
    left:32%;

}

.square {
    width: 100px;
    height: 100px;
    border: 1.5px solid rgb(124, 120, 120);
    border-style: inset;
}

.blacksquare {
    background-color: rgb(53, 51, 51);
}

.whitesquare {
    background-color: rgb(224, 218, 218);
}

.pieces{
    width: fit-content;
    height: 80px;
    padding: 9px;
}

.selected{
    background-color: #a67f7e;
}

.possible-move{
    background-color: #775f7c;
}




