 html{
     width: 100%;
     height: 100%;
 }

.table1{
    position: absolute;
    top:15%;
    left:25%;
    border: 0.5px solid rgb(124, 120, 120);
    border-style: inset; 

}

.numbers{
    position: absolute;
    top:14%;
    left:31%;
    font-size: 31.5px;
    max-width: 20px;
}

.letters{
    position: absolute;
    top:75%;
    left:34%;
    font-size: 31.5px;
    word-spacing: 82px;
}

.square {
    width: 100px;
    height: 100px;
    
}

.blacksquare {
    background-color: rgb(80, 114, 114);
}

.whitesquare {
    background-color: rgb(224, 218, 218);
}

.pieces{
    width: fit-content;
    height: 80px;
    padding: 9px;
}

.selected{
    background-color: #c4a6a4;
}

.possible-move{
    background-color: #514e5294;
}

.background{
    position: relative;
    left:14.5%;
    width: 1700px;
    height: 1200px;
    background-color: rgba(174, 202, 218 , 0.5);
}

.h1{
    position: absolute;
    top:-2%;
    left:37%;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(82, 66, 46);
}

.turn{
    position: absolute;
    top:7.5%;
    left:44.5%;
}


.whitePlayer{
    position: absolute;
    top:15%;
    left:6%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blackPlayer{
    position: absolute;
    top:15%;
    left:80%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.deletedWhite{
    position: absolute;
    top:130%;
    left:-2%;
    max-width: 300px;
}

.deletedBlack{
    position: absolute;
    top:130%;
    left:-2%;
    max-width: 500px;
}

.check{
    position: absolute;
    top:42%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
}

.out{
    position: absolute;
    top:1000%;
    left:100%;
}